.mainPopUpContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 50;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    inset: 0px;
}

.paymentcontainer {
    width: 45%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid red; */
    z-index: 6;
    background-color: #d8d0d0;
    /* opacity: 5 !important; */
    border-radius: 10px;
}

.paymmentCardTitle {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0.5rem;
    background-color: rgb(243, 245, 245);
    border-radius: 10px 10px  0 0;
    
}

.paymmentCardTitle h4 {
    font-family: Arial, Helvetica, sans-serif;
}
.crossIcon{
    cursor: pointer;
}
.cartDetailsAndImage {
    width: 100%;
    display: flex;
    padding: 0.7rem 0;
}

.cartDetails {
    width: 60%;
    height: 20vh;
}

.paymentFormCont {
    width: 100%;
    margin-left: 0rem;
    padding: 0.5rem;
}

.paymentFormCont input {
    padding: 0.2rem;
    margin-bottom: 10px;
    outline: none;
    width: 60%;

}

label {
    font-weight: 700;
}

.paymentFormCont>input:first-child {
    padding: 2rem;
}

.cardNo {
    margin-left: 2.5rem;
    /* padding: 5rem; */
}

.name {
    margin-left: 0.5rem;
}

.expiry {
    margin-left: 0.5rem;
    display: flex;
}

select {
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem;
    /* margin-right: 0.5rem; */
}

.cardImg {
    width: 40%;
}

.bliss p {
    font-size: 1.2rem;
}

.cardImg img {
    padding: 0.1rem 0.5rem;
    width: 100%;
}
.paymetSucesBtn{
    width: 100%;
}
.paymetSucesBtn button{
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 35%;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgb(140,208,227);
}

.animated {

    -webkit-animation-duration: 1s;

    animation-duration: 1s;

    -webkit-animation-fill-mode: both;

    animation-fill-mode: both;

}

.animated.faster {

    -webkit-animation-duration: 500ms;

    animation-duration: 500ms;

}

.fadeIn {

    -webkit-animation-name: fadeIn;

    animation-name: fadeIn;

}

.fadeOut {

    -webkit-animation-name: fadeOut;

    animation-name: fadeOut;

}

@keyframes fadeIn {

    from {

        opacity: 0;

    }

    to {

        opacity: 1;

    }

}

@keyframes fadeOut {

    from {

        opacity: 1;

    }

    to {

        opacity: 0;

    }

}
@media only screen and (max-width: 480px) {
    .paymentcontainer {
        width: 90%;
        /* background-color: red; */
    }
    .cardNo {
        margin-left: 0;
        /* padding: 5rem; */
    }
    
    .name {
        width: 90%;
        margin-left: 0;
    }
    .paymetSucesBtn button{
        margin-top: 2rem;
    }
}