.cart h1{
    text-align: center;
    padding-top: 0.8rem ;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.cart_heading{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    display: flex;

}
#product{
    width: 60%;
}
#product>h2{
    text-align: center;
}
#quantity{
    width: 25%;
}
#quantity>h2{
    margin-left: 5.5rem;
    
}
#total{
    width: 15%;
}
#total>h2{
    text-align: center;
    /* padding-left: 0.5rem; */
}
hr{
    width: 70%;
    margin:auto;
    margin-top: 1.2rem;
}

.cart_calculation{
    width: 70%;
    margin: auto;
    margin-top: 0.5rem;
    display: flex;
}
.cart_calculation>div{
    width: 50%;
    
}
.cart_calculation>div:last-child>h3{
    text-align: end;
    padding:0.5rem 3.5rem 0 0;
}
.cart_calculation>div:last-child>h3+p{
    text-align: center;
    padding:0.5rem 0 0 9.5rem;
    font-weight: 500;
}
#checkout{
    display: block;
    float: right;
    margin: 0.5rem 3.5rem 0 0;
    padding: 0.5rem;
    width: 35%;
    background-color:rgb(140,208,227);
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  
} 


@media only screen and (max-width: 480px) {
    .cart_heading{
       
        display: none;
    
    }
    .cart_calculation{
        width: 90%;
        margin: auto;
        margin-top: 0.5rem;
        display: flex;
    }
    .cart_calculation>div{
        width: 50%;
        /* border: 1px solid black;
         */
    }
    .cart_calculation>div img{
        width: 100%;
    }
    .cart_calculation>div:last-child>h3{
        text-align: end;
        padding:0.5rem 0.8rem 0 0;
    }
    .cart_calculation>div:last-child>h3+p{
        text-align: center;
        padding:0 0 0 0;
    }
    #checkout{
        display: inline-block;
        margin: 0.5rem 1.7rem 0.5rem 0;
        padding: 0.5rem;
        width: 70%;
       
      
    } 
    
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .cart_heading{
       
        display: none;
    
    }
    .cart_calculation{
        width: 90%;
        margin: auto;
        margin-top: 0.5rem;
        display: flex;
        
    }
    .cart_calculation>div{
        width: 50%;
        
        
    }
    .cart_calculation>div img{
        width: 100%;
    }
    .cart_calculation>div:last-child>h3{
        text-align: end;
        padding:0.5rem 0.8rem 0 0;
    }
    .cart_calculation>div:last-child>h3+p{
        text-align: center;
        padding:0 0 0 0;
    }
    #checkout{
        display: inline-block;
        margin: 0.5rem 1.7rem 0.5rem 0;
        padding: 0.5rem;
        width: 70%;
       
      
    } 
    
}