.formContainer{
    width: 28rem;
    /* height: 28rem; */
    border: 2px solid rgb(156, 155, 155);
    margin: 50px auto;
    padding: 0.5rem 0;
    border-radius: 1rem;
    background: rgb(174, 153, 153);
}
.formContainer .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.form h1+p{
margin: 0.5rem 0;
}
.formContainer .form label{
    font-size: 1.2rem;
}
.formContainer .form input{
    padding: 0.8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    outline: none;
    margin-top: 0.5rem;
   
}
.btn{
    width: 86%;
    margin: 1.5rem auto;
    /* margin: 1.5rem; */
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.2rem;
    background: rgb(66, 129, 66);
}
.btn:hover{
    color: #fff;
    background: rgb(110, 60, 210);
}
.btn+p{
    margin: 0 1rem;
}
span{
    color: red;
}
